In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_excel('SADCQ.xlsx')

In [3]:
data_dropped=pd.DataFrame(data.drop(['qbikehelmet','qdrivemarijuana','qcelldriving','qpropertydamage','qbullyweight','qbullygender','qbullygay','qchokeself','qcigschool','qchewtobschool','qalcoholschool','qtypealcohol','qhowmarijuana','qmarijuanaschool','qcurrentcocaine','qcurrentheroin','qcurrentmeth','qhallucdrug','qprescription30d','qgenderexp','qtaughtHIV','qtaughtsexed','qtaughtstd','qtaughtcondom','qsportsdrink','qenergydrink','qsugardrink','qwater','qfastfood','qfoodallergy','qtaughtbc','qdietpop','qcoffeetea','sitename','sitecode','sitetype','qwenthungry','qsunscreenuse','qindoortanning','qsunburn','qconcentrating','qcurrentasthma','qwheresleep','qspeakenglish','qtransgender','sitetypenum','year','survyear','PSU','stratum','record'],axis=1))
# data_dropped

In [4]:
data_set=data_dropped.iloc[:,:18]

In [5]:
data_set.head()

,weight,age,sex,grade,race4,race7,stheight,stweight,bmi,bmipct,qnobese,qnowt,q67,q66,sexid,sexid2,sexpart,sexpart2
0,1.3041,5.0,2.0,3.0,1.0,6.0,1.70,52.16,18.048443,10.333861,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.2672,5.0,2.0,2.0,2.0,3.0,1.85,104.33,30.483565,97.657096,1.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0
2,0.7263,5.0,2.0,2.0,4.0,2.0,1.75,44.91,14.664490,0.006242,2.0,2.0,NaN,1.0,NaN,NaN,1.0,1.0
3,0.3991,5.0,2.0,3.0,4.0,7.0,1.68,58.97,20.893566,50.274471,2.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0
4,0.3695,5.0,2.0,3.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,1.0,2.0,2.0

In [6]:
Y=data_set['qnobese'].fillna(1)

In [7]:
Y=Y.replace(2,0)

In [8]:
X=data_dropped.drop(['qnobese'],axis=1)
X.fillna(X.mean(),inplace=True)

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
Y=Y.values

In [11]:
Y

array([0., 1., 0., ..., 1., 0., 1.])

In [12]:
# Y=Y.reshape(-1,1)
# Y

In [13]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
# y = scaler.fit_transform(Y)

In [14]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3)

In [15]:
ytrain=ytrain.reshape(len(ytrain))

In [16]:
ytrain.shape

(142564,)

In [18]:
from sklearn.neighbors import KNeighborsClassifier
## Instantiate the model with 5 neighbors. 
knn = KNeighborsClassifier(n_neighbors=15)
## Fit the model on the training data.
knn.fit(xtrain, ytrain)
## See how the model performs on the test data.
knn.score(xtest, ytest)

0.7422707409286567